extends layout

block content
  h1= Snacky
  svg#band_svg
  #cover
  #overlay
    #controls
      #nowPlaying
      a#playPause(href='#') Play
      a#playNext(href='#') Next
  svg#title_svg
  audio(src="/mp3s/01_Halftime%20Show.mp3")
  #number
