extends layout

block content
  svg#band_svg(alt="Snacky")
  #cover
  #overlay
    #controls
      .col
        a#playPause(href='#') Play
      .col
        span#nowPlaying
        a#playNext(href='#') &rarr;
      .col
        a#buy(href="http://highdiverecords.com" target="_blank") Buy the Album
        a#toggleDance(href='#') Stop dancing
  svg#title_svg
  #fallback
    .content
  #number
