extends layout

block content
  #dancing
    svg#band_svg(alt="Snacky")
    #cover
    #overlay
      #controls
        .col
          a#playPause(href='#') Play single
        .col
          span#nowPlaying
          a#playNext(href='#') &rarr;
        .col
          //- a#buy(href="http://highdiverecords.com" target="_blank") Buy the Album
          a#toggleDance(href='#') Stop dancing
    svg#title_svg
    #fallback
      .content
  #info
    p Snacky is a recording project from Ross Brown and Ryan Carr. 
      |Ross played synthesizers on all tracks, drums on track 3, and bongos on track 7. 
      |Ryan played drums and percussion on everything else.
      
    h3 The Rules
    ol
      li Only analog synths and live drums/percussion
      li Everything must be played by humans
      li No sound is too cheesy
      li No "presets"
      
    p 
      |All songs written, recorded, and mixed in Ross' basement during the summer of 2015. 
      |&copy;
      span.year 2015
      |  Bargain Hunt Music / ASCAP. KCMO
    p 
      | Mastered by Mike Nolte at 
      a(href='http://eurekamastering.com') Eureka Mastering
      |.
    p 
      a(href="http://ross-brown.s3.amazonaws.com/snacky/snacky_vol1_digital.jpg") Artwork
      |  by 
      a(href="http://charliemylie.com") Charlie Mylie
      |. Photos by Carlos Lima.
    p 
      | Cassette and Digital coming soon to 
      a(href="http://highdiverecords.com") High Dive Records
      |.
      
    p 
      a(href="https://facebook.com/snackymusic") Facebook
    
    p
      a(href="https://facebook.com/snackymusic")
        img(src="http://ross-brown.s3.amazonaws.com/snacky/snacky_promo1.jpg" alt="Snacky")
  script.
    var now = new Date;
    document.querySelector('.year').innerHTML = now.getFullYear();
