extends layout

block content
  svg#band_svg(alt="Snacky")
  #cover
  #overlay
    #controls
      .col
        a#playPause(href='#') &#9654;
      .col
        span#nowPlaying
        a#playNext(href='#') &rarr;
      .col
        a#buy(href="http://highdiverecords.com" target="_blank") Buy the Album
  svg#title_svg
  audio(src="/mp3s/01_Halftime%20Show.mp3")
  #number
