html, body, svg
  height: 100%
  width: 100%
  margin: 0
  padding: 0

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  height: 100%
  margin: 0
a
  color: #00B7FF

svg
  position: relative
  display: block
  z-index: 1

#cover
  height: 60%
  width: 100%
  margin: 0 auto
  position: absolute
  top: 20%
  background: url("/images/snacky_vol1_cover.jpg") center center no-repeat
  background-size: contain
  z-index: 0

#band_svg
  margin: 0 auto
  height: 40%
  width: 100%

svg#title_svg
  margin: 0 auto;
  top: 28%
  height: 200px
  width: 100%
  text-align: center
