html,
body,
svg {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font: 14px 'Arvo', serif;
}
a {
  text-decoration: none;
  color: #00b7ff;
}
#dancing {
  height: 100%;
  margin: 0;
}
#overlay {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 3;
  background: rgba(255,255,255,0.8);
  vertical-align: middle;
  min-height: 4em;
}
#controls {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
#controls .col {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.9em;
}
#controls a {
  padding: 1em;
  display: inline-block;
  font-weight: normal;
}
#nowPlaying h4 {
  font-size: 100%;
  font-weight: normal;
  display: inline-block;
  margin: 0;
}
#playPause,
#nextTrack {
  z-index: 2;
  position: relative;
}
svg {
  position: relative;
  display: block;
  z-index: 1;
}
#cover {
  height: 60%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  background-size: contain;
  z-index: 0;
}
#mascot {
  background: #ff0;
  width: 400px;
  height: 400px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
#band_svg {
  margin: 0 auto;
  height: 40%;
  width: 100%;
}
svg#title_svg {
  margin: 0 auto;
  top: 35%;
  height: 200px;
  width: 100%;
  text-align: center;
}
#fallback {
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}
#fallback .content {
  width: 70%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
  padding: 2em;
  border-radius: 0.4em;
}
#fallback .content h2 {
  margin: 0;
}
#closeFallback {
  background: #0b7347;
  padding: 0.8em;
  display: block;
  text-align: center;
  color: #fff;
}
#info {
  width: 40%;
  min-width: 500px;
  max-width: 600px;
  margin: 3em auto;
  padding: 2em 2em 8em 2em;
  line-height: 1.4em;
}
#info p img {
  max-width: 100%;
}
#playPause {
  animation: jump 2s forwards cubic-bezier(0.84, -0.54, 0.31, 1.19);
}
@-moz-keyframes jump {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5em) scale(1.5);
  }
}
@-webkit-keyframes jump {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5em) scale(1.5);
  }
}
@-o-keyframes jump {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5em) scale(1.5);
  }
}
@-ms-keyframes jump {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5em) scale(1.5);
  }
}
@keyframes jump {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5em) scale(1.5);
  }
}
