html, body, svg
  height: 100%
  width: 100%
  margin: 0
  padding: 0

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  height: 100%
  margin: 0
a
  color: #00B7FF

#overlay
  position: absolute
  width: 100%

  bottom: 0
  z-index: 3
  background: rgba(0,0,0,.7);
  vertical-align: middle
  min-height: 4em;

#controls
  position: relative
  width: 100%
  margin: 0 auto
  text-align: center
  vertical-align: middle
  .col
    width: 30%
    display: inline-block
    vertical-align: middle
    // min-height: 4em
    line-height: 1.9em

  a
    padding: 1em
    display: inline-block
    font-weight: normal
    text-decoration: none

#nowPlaying
  h4
    font-size: 100%
    display: inline-block
    color: #fff
    margin: 0

#playPause, #nextTrack
  z-index: 2
  position: relative

svg
  position: relative
  display: block
  z-index: 1

#cover
  height: 60%
  width: 100%
  margin: 0 auto
  position: absolute
  top: 20%
  // background: url("/images/snacky_vol1_cover.jpg") center center no-repeat
  background-size: contain
  z-index: 0

#mascot
  background yellow
  width: 400px
  height: 400px
  display: block
  position: absolute
  left: 0
  top: 0

#band_svg
  margin: 0 auto
  height: 40%
  width: 100%

svg#title_svg
  margin: 0 auto;
  top: 28%
  height: 200px
  width: 100%
  text-align: center
